Set up the notebook by installing and importing the necessary packages and setting options for our display.

In [1]:
import pandas as pd 
import numpy as np

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 8)

# If either of the necessary packages is not installed, install using pip install <packagename> e.g pip install pandas

## The Series

A one-dimensional labelled array based on Numpy ndarray. It extends the functionality of the ndarray by adding a set of labels used to index the elements of the array. 

A Series can hold zero or more instances of a single data type. 

A Series allows access to elements through the associated index labels. The index is also helpful for alignment - where operations between two series are applied to values with identical labels.

## The DataFrame

A DataFrame unifies multiple Series into a single data structure. Each Series represents a named column of the DataFrame with a single index for all columns. 

A DataFrame has two axes, horizontal and vertical,  and functions can be applied to either axis.

### Creating a Series and accessing elements

A Series can be created by passing a scalar value, a Numpy array, or a Python dictionary/list to the constructor series object.

Create a Series from 100 normally distributed random numbers.

In [2]:
np.random.seed(1)
s=pd.Series(np.random.randn(100))
s

0     1.624345
1    -0.611756
2    -0.528172
3    -1.072969
        ...
96   -0.343854
97    0.043597
98   -0.620001
99    0.698032
Length: 100, dtype: float64

Individual elements of the Series can be retrieved using the [] operator of the Series object. 

Access the item with index 2.

In [3]:
s[2]

-0.5281717522634557

Multiple values can be retrieved using an array of label values.

In [4]:
s[[2,5,25]]

2    -0.528172
5    -2.301539
25   -0.683728
dtype: float64

A Series supports slicing through the : slice notation.

Retrieve the elements from index 3 to 7 (the end value is not inclusive in Pandas slicing, which is a slight difference from Numpy arrays).

In [5]:
s[3:8]

3   -1.072969
4    0.865408
5   -2.301539
6    1.744812
7   -0.761207
dtype: float64

Pandas provides the .head() and .tail() methods to view just the first or last few records in a Series. By default, these return the first or last five rows, but you can use the n parameter or pass an integer to specify the number of rows.

In [6]:
s.head()

0    1.624345
1   -0.611756
2   -0.528172
3   -1.072969
4    0.865408
dtype: float64

In [7]:
s.tail()

95    0.077340
96   -0.343854
97    0.043597
98   -0.620001
99    0.698032
dtype: float64

A Series contains an index and a sequence of values. The index can be retrieved using the .index property.

In [8]:
s.index

RangeIndex(start=0, stop=100, step=1)

The values in a Series can be retrieved using the .values property.

In [9]:
s.values

array([ 1.62434536, -0.61175641, -0.52817175, -1.07296862,  0.86540763,
       -2.3015387 ,  1.74481176, -0.7612069 ,  0.3190391 , -0.24937038,
        1.46210794, -2.06014071, -0.3224172 , -0.38405435,  1.13376944,
       -1.09989127, -0.17242821, -0.87785842,  0.04221375,  0.58281521,
       -1.10061918,  1.14472371,  0.90159072,  0.50249434,  0.90085595,
       -0.68372786, -0.12289023, -0.93576943, -0.26788808,  0.53035547,
       -0.69166075, -0.39675353, -0.6871727 , -0.84520564, -0.67124613,
       -0.0126646 , -1.11731035,  0.2344157 ,  1.65980218,  0.74204416,
       -0.19183555, -0.88762896, -0.74715829,  1.6924546 ,  0.05080775,
       -0.63699565,  0.19091548,  2.10025514,  0.12015895,  0.61720311,
        0.30017032, -0.35224985, -1.1425182 , -0.34934272, -0.20889423,
        0.58662319,  0.83898341,  0.93110208,  0.28558733,  0.88514116,
       -0.75439794,  1.25286816,  0.51292982, -0.29809284,  0.48851815,
       -0.07557171,  1.13162939,  1.51981682,  2.18557541, -1.39649634,
       -1.44411381, -0.50446586,  0.16003707,  0.87616892,  0.31563495,
       -2.02220122, -0.30620401,  0.82797464,  0.23009474,  0.76201118,
       -0.22232814, -0.20075807,  0.18656139,  0.41005165,  0.19829972,
        0.11900865, -0.67066229,  0.37756379,  0.12182127,  1.12948391,
        1.19891788,  0.18515642, -0.37528495, -0.63873041,  0.42349435,
        0.07734007, -0.34385368,  0.04359686, -0.62000084,  0.69803203])

If you do not set the index label values when creating a Series, Pandas assigns sequential integer values srating at 0. 

To specify non-default index labels, use the index parameter of the Series object constructor or assign them using the .index property after creation.

In [10]:
s2=pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
s2

a    1
b    2
c    3
d    4
dtype: int64

A Series can be directly initialized from a Python dictionary. The keys of the disctiobary are used as index labels for the Series.

In [11]:
s3=pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

### Shape, size, uniqueness and counts of values

The number of elements in a series can be determined using the len() function.

In [12]:
s4=pd.Series([10,0,1,1,2,3,4,5,6,np.nan])
len(s4)

10

The .shape property returns a tuple containing the dimensionality of the series. Since a Series is one dimensional, only the length value is provided in the tuple.

In [13]:
s4.shape

(10,)

To get the number of rows without a value of Nan we use the.count() method.

In [14]:
s4.count()

9

To determine all the uniqie values in a Series, pandas provides the .unique() method.

In [15]:
s4.unique()

array([10.,  0.,  1.,  2.,  3.,  4.,  5.,  6., nan])

The count of each of the unique items in s Aseries can be obtained using .value_counts().

In [16]:
s4.value_counts()

1.0     2
10.0    1
0.0     1
2.0     1
3.0     1
4.0     1
5.0     1
6.0     1
Name: count, dtype: int64

### Alignment via index labels

A fundamental difference between Numpy ndarray and a pandas Series is the ability of a series  to automatically align data from another series based on label values before performing an operation

In [17]:
s5=pd.Series([1,2,3,4], index=['a','b','c','d'])
s6=pd.Series([4,3,2,1], index=['d','c','b','a'])

s5+s6

a    2
b    4
c    6
d    8
dtype: int64

### Creating a DataFrame

The most straightfoward way to create a DataFrame is from a Numpy array.

In [18]:
pd.DataFrame(np.array([[10,11],[20,21]]))

    0   1
0  10  11
1  20  21

Each row of the aray becomes a row in the DataFrame. 

Since we did not assign an index, pandas provides a default int64 index similar to a Series. 

Since we did not also specify column names, pandas assigns the names for each column with a zero-based integer series.

A DataFrame can also be initialized by passing a list of series objects.

In [19]:
df1=pd.DataFrame([pd.Series(np.arange(10,15)),
                  pd.Series(np.arange(15,20))])
df1

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

The dimensions of a DataFrame can be determined using its .shape property. 

A DataFrame is always two-dimensioal. 

The first value of the tuple returned represents the number of rows and the second value the number of columns.

In [20]:
df1.shape

(2, 5)

Column names can be specified when creating th DataFrame using the columns parameter of the DataFrame constructor.

In [21]:
df2=pd.DataFrame(np.array([[10,11],[20,21]]),
                columns=['a', 'b'])
df2

    a   b
0  10  11
1  20  21

The column names can be accessed through the DataFrame property .columns.

In [22]:
df2.columns

Index(['a', 'b'], dtype='object')

The column names can be changed py passing the .columns property with a list of new names.

In [23]:
df2.columns=['c1','c2']
df2

   c1  c2
0  10  11
1  20  21

Index labels can be assigned using the index parameter of the constructor or by assigning a list directly to the .index peoperty.

In [24]:
df3=pd.DataFrame(np.array([[0,1],[2,3]]),
                 columns=['c1','c2'],
                 index=['r1','r2'])
df3

    c1  c2
r1   0   1
r2   2   3

The index of a DataFrame can b accessed with its .index property.

In [25]:
df3.index

Index(['r1', 'r2'], dtype='object')

The values of a DataFrame can be accessed through the .values property. The result is a multidimensional array.

In [26]:
df3.values

array([[0, 1],
       [2, 3]])

A DataFrame can also be craeted by passing a dictionary containing one or more Series objects, where the dictionary keys contain the column names and each Series is one column of data.

In [27]:
s7=pd.Series(np.arange(1,6,1))
s8=pd.Series(np.arange(6,11,1))
pd.DataFrame({'c1':s7,'c2':s8})

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

A DataFrame also does automtic alignment of the data for each series passed in by a dictionary.

In [28]:
s9=pd.Series(np.arange(12,14), index=[1,2])
pd.DataFrame({'c1':s7,'c2':s8,'c3':s9})

   c1  c2    c3
0   1   6   NaN
1   2   7  12.0
2   3   8  13.0
3   4   9   NaN
4   5  10   NaN

### Example data

Data used in the Mastering Pandas for Finance book is available upon purchase of the book and also from their GitHub page (https://github.com/PacktPublishing/Mastering-Pandas-for-Finance/tree/master).

Import the exercise files into your Jupyter environment for ease of access.

In [29]:
sp500=pd.read_csv('sp500.csv',
                  index_col='Symbol',
                  usecols=[0,2,3,7])
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

The index of the DataFrame consists of the symbols for the 500 stocks representing the S&P500.

In [30]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

### Selecting the columns of a DataFrame

Selecting data in specific columns is done using the [] operator, which can be passed as either a single object or a list of objects. 

These objects are used to look up columns by zero-based location matching or by matching the objects to the values in the column index. 

This results in a new DataFrame with data copied from the original DataFrame, which is true even if the list contains a single value.

If the values passed to [] consist of non-integers the DataFrame will attempt to match the values to the values in the column index.

In [31]:
#sp500[[1, 2]].head(3)
sp500[['Price','Book Value']].head(3)

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954

Columns can also be retrieved through attribute access. Each column in a DataFrame dynamically adds a property to the DataFrame for each column where the name of the property is the name of the column. 

Note that this will not work for the Book Value column as the name has a space

In [32]:
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
         ...
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

### Selecting rows of a DataFrame using the index

#### 1. Slicing using the [] operator

Slicing a DataFrame across its index is syntatctically similar to slicing a Series. 

Slicing works along both positions and labels.

In [33]:
sp500[:3]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

In [34]:
sp500['XYL':'YUM']

                        Sector  Price  Book Value
Symbol
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147

#### 2. Selecting rows by index label and location - .loc[] and .iloc[]

Rows can be retrieved via index label using .loc[].

In [35]:
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [36]:
sp500.loc[['MMM','MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

Rows can be retrieved by location using .iloc[].

In [37]:
sp500.iloc[[0,2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

It is possible to look up the location in index odf a specific value , which can then be used to retrieve the row(s).

In [38]:
i1=sp500.index.get_loc('MMM')
i2=sp500.index.get_loc('A')
i1,i2

(0, 10)

In [39]:
sp500.iloc[[i1,i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

#### 3. Scalar lookup by label or location using .at and .iat

Scalar values can be looked up by label using .at[] by passing the row label and then the column name/value.

In [40]:
sp500.at['MMM', 'Price']

141.14

Scalar values can be looked up by location using .iat[] by passing both the row location and then the column location.

In [41]:
sp500.iat[0,1]

141.14

### Selecting rows using Boolean selection

Rows can be selected using the Boolean selection with an array calculated from the result of applying a log logical condition to the values in any of the columns.

In [42]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
        ...
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

This results in a series that can be used to select rows where the value is True.

sp500[sp500.Price < 100]

Multiple conditions can be put together using parentheses. 

It is possible to only select a subset of the columns.

In [43]:
sp500[(sp500.Price < 10) & (sp500.Price > 0)] [['Price']]

        Price
Symbol
FTR      5.81
HCBK     9.80
HBAN     9.10
SLM      8.82
WIN      9.38

### Arithmetic on a DataFrame

Arithmetic operations using scalar values willbe applied to every element of a DataFrame.

In [44]:
np.random.seed(123456)
df=pd.DataFrame(np.random.randn(5,4),
                columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

By default any arithmetic operation is applied across all rows and columns of a DataFrame and will return a new DataFrame with the results (leaving the original unchanged).

In [45]:
df*2

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

When performing na operation between a DataFrame and a Series , pandas will align the Series index along the DataFrame columns, performing what is referred to as a row wise broadcast.

In [46]:
df-df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

An arithmetic operation between two DataFrame objets will align with both the column and index labels.

In [47]:
subframe = df[1:4][['B','C']]
subframe

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

In [48]:
df-subframe

    A    B    C   D
0 NaN  NaN  NaN NaN
1 NaN  0.0  0.0 NaN
2 NaN  0.0  0.0 NaN
3 NaN  0.0  0.0 NaN
4 NaN  NaN  NaN NaN

Additional control of an arithmetic operation can be gained using the arithmetic methods provided by the DataFrame object. 

These methods provide the specification of a particular axis.

In [49]:
a_col = df['A']
df.sub(a_col, axis=0)

     A         B         C         D
0  0.0 -0.751976 -1.978171 -1.604745
1  0.0 -1.385327 -1.092903 -2.256348
2  0.0 -1.242720  0.366920  1.933653
3  0.0 -1.428326 -1.761130 -0.449695
4  0.0  0.991993  0.701204 -0.662428

### Reindexing the Series and DataFrame objects

This is the process of matching data in a Series or DataFrame with a given set of labels along a paticular axis.

In [50]:
np.random.seed(1)
s10=pd.Series(np.random.randn(5))
s10

0    1.624345
1   -0.611756
2   -0.528172
3   -1.072969
4    0.865408
dtype: float64

In [51]:
s10.index = ['a','b','c', 'd', 'e']
s10

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

Greater flexibility in creating a new index is provided using the .reindex() method. A example is that the list provided to .reindex() can be of different length than the number of rows in the Series.

In [52]:
s11=s.reindex(['a', 'c', 'e', 'g'])
s11['a'] = 0
s11

a    0.0
c    NaN
e    NaN
g    NaN
dtype: float64

In [53]:
s10['a']

1.6243453636632417

Pointers:-

1. The result is a new Series with the labels provided as a parameter, and if the existing series had a matching label, that value is copied to the new Series.
2. If there is an index label created for which the series did not have an already existing label, the value will be assigned NaN.

Reindexing is also useful when you want to align two Series to perform an operation on matching elements from each series, but for some reason, the two  Series had index labels that wouldn't initially align.

In [54]:
s12=pd.Series([0,1,2], index=[0,1,2])
s13=pd.Series([3,4,5], index=['0','1','2'])
s12+s13

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [55]:
s13.index=s13.index.values.astype(int)
s12+s13

0    3
1    5
2    7
dtype: int64

The default action of inserting NaN as a missing value during .reindex() can be chnaged using fill_value of the method.

In [56]:
s14 = s10.copy()
s14.reindex(['a','f'], fill_value=0)

a    1.624345
f    0.000000
dtype: float64

When performing reindex on ordered data, such a time-series , it is possible to perform interpolation of missing values.

In [57]:
s15=pd.Series(['red', 'green', 'blue'], index=[0,3,5])
s15

0      red
3    green
5     blue
dtype: object

The following command demonstrates forward filling, often referred to as the last known value. The Series is reindexed to create a contiguous integer index , and using the method='ffil' parameter, any new index labels are assigned a value from the previously seen value along the Series.

In [58]:
s15.reindex(np.arange(0,7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

By contrast, the result of the same Series when backward filling using the method='bfill' parameter is as below,

In [59]:
s15.reindex(np.arange(0,7), method='bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object

This notebook briefly overviewed the pandas Series and DataFrame objects, 
how they are used to represent data, and how to select data in both via queries, 
columns, and indices. The concept of reindexing both classes of objects is also 
introduced.